.star {
  position: relative;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 200px solid yellow;
}

.star::before,
.star::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}

.star::before {
  top: 60px;
	left:-90px;
  border-top: 200px solid yellow;
}

/* .star::after {
  top: 5px;
  transform: rotate(180deg);
  border-bottom: 80px solid blue;
} */
